
#map {
    width: 500px;
    height: 500px;
    margin-top: 10px;
}

.search-box {
    margin-top: 10px;
    margin-bottom: 10px;
} 

body, html {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    margin: 0;
}

/* The hero image */
.hero-image {
    background-image: url("../Photos/b.jpg");
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: left;
    position: absolute;
    font-family: Century Gothic;
    top: calc(50% - 21px);
    left: 5%; /* Adjust this value to control the distance from the left */
    transform: translateY(-50%);
    color: #036c46;
    width: 500 px;
    font-size: 22px;
}
.hero-textt {
    text-align: left;
    position: absolute;
    font-family: Century Gothic;
    top: calc(50% + 31px); /* Moves it 10px down from 50% */
    left: 5%;
    transform: translateY(-50%);
    color: #025f50;
    width: 400px; /* Fixed typo (removed extra space between 400 and px) */
    font-size: 17px;
}
